<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>Welcome to the Mini NFL Leaderboard</h1>

    <h3>Here are the updates thus far:</h3>

    <ul>
      <% @team.each do |team| %>
        <li><%= team %> W's: <%= @win_record[team] %> L's: <%= @loss_record[team] %></li>
      <% end %>
    </ul>
  </body>
</html>




